Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 modes
       - dev
    Dev Server, SourceMaps, EsLint, Not Minified JS & CSS
       - prod
    Minified Code
Git (gitFlow)
    Production
    1.0.0
    0 -----------
    Development
    1.0.2
    1 ------------- + ---   PR+
    2 ---------------- | (после пул реквеста ветка удаляется)


